body {
  background-color: #efefef; }

#header {
  width: 100%;
  height: 95px; }
  #header #logo {
    background: url("/media/img/logo.png");
    margin-right: 4px;
    width: 295px;
    height: 95px; }
